#if ($SystemcFormat.isScoped($node))
{
#end
## Local definitions:
##
#foreach( $dec in $node.getLocalDefs() )
    $SystemcFormat.format($dec)
#end
##
## Statements:
##
#foreach( $stm in $node.getStatements() )
    $SystemcFormat.format($stm)
#end
##
#if ($SystemcFormat.isScoped($node))
}
#end