##Example: A`foo(1, 1)
##
#set( $class = "" )
##
#if (!$SystemcFormat.isNull($node.getClassType()))
	#set( $separator = "$SystemcFormat.getCallSeparator($node)")
	#set( $classType = "$SystemcFormat.format($node.getClassType())")
	#set( $class = "$classType$separator")
#end
##
#set( $return = "")
#if (!$SystemcFormat.isVoidType($node.getType()))
	#set( $return = "return ")
#end
##
#set( $name = "$node.getName()")
##
$return$class$name($SystemcFormat.formatArgs($node.getArgs()));