#set ( $returnType = "")
#if (!$node.getIsConstructor())
#set( $returnType = $SystemcFormat.format($node.getMethodType.getResult() ) )
#end
#set( $static = "")
#if ($node.getStatic())
#set( $static = "static ")
#end
#if ($node.getTemplateTypes().size() > 0)
template<$SystemcFormat.formatTemplateTypes($node.getTemplateTypes())>
#end
##
#set( $params = $SystemcFormat.format($node.getFormalParams()))
##
#set ( $returnType = "" )
#if (!$node.getIsConstructor())
#set ( $returnType = $SystemcFormat.format($node.getMethodType().getResult()) + " ")
#end
#set ( $virtual = "" )
#set ( $abstract = "" )
#if( $node.getAbstract() )
#set ( $abstract = ' = 0' )
#set ( $virtual = 'virtual ' )
#end
##
$virtual$static$returnType$node.getName()(${params})$abstract;